.link
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input
{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btSubmit,#btTalk
{
    display: flex;
    margin: auto;
}
#HeadText,#action
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#map 
{
    display: flex;
    margin: auto;
    height: 400px;
    width: 40%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
